@model TestProject.Models.Item  



<h3> Are  you sure    you  want to  delete this  item  ??   </h3>

<p> @Model.Name</p>
<p> @Model.Price</p>



<form asp-action="Delete" method="post" asp-controller="Item">

    <div class="form-group">
        <input type="hidden" asp-for="ItemId" />
    </div>

    <button type="submit" class="btn btn-primary">Submit </button>
</form>